appdirs==1.4.4
appnope==0.1.3
APScheduler==3.10.4
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorlog==6.7.0
contourpy==1.1.1
cryptography==41.0.4
cycler==0.12.0
decorator==5.1.1
delegator.py==0.1.1
demjson==2.2.4
dnspython==2.4.2
executing==2.0.0
Flask==3.0.0
fonttools==4.43.1
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.0
idna==3.4
importlib-metadata==6.8.0
ipython==8.16.1
itsdangerous==2.1.2
janus==0.4.0
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.3.2
jqdatasdk==1.9.1
keras==2.14.0
kiwisolver==1.4.5
llvmlite==0.41.0
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mkl-fft @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_af8wl3mjfu/croot/mkl_fft_1695058185839/work
mkl-random @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_0fq2s894lk/croot/mkl_random_1695059822529/work
mkl-service==2.4.0
motor==3.3.1
msgpack==1.0.7
numba==0.58.0
numpy==1.25.2
OpenDataTools==1.0.0
packaging==23.2
pandas==2.1.1
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
ply==3.11
prettytable==3.9.0
progressbar2==4.2.0
prompt-toolkit==3.0.39
protobuf==4.24.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyconvert==0.6.3
pycparser==2.21
pyecharts==2.0.4
pyecharts-snapshot==0.2.0
pyee==8.2.2
pygame==2.5.2
Pygments==2.16.1
pymongo==4.5.0
PyMySQL==1.1.0
pyparsing==3.1.1
pyppeteer==1.0.2
pytdx==1.72
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.0
python-utils==3.8.1
pytz==2023.3.post1
quantaxis==1.10.19
requests==2.31.0
retrying==1.3.4
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.13.0
simplejson==3.19.2
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.21
stack-data==0.6.3
statsmodels==0.14.0
threadpoolctl==3.2.0
thriftpy2==0.4.17
tornado==6.3.3
tqdm==4.66.1
traitlets==5.11.2
tushare==1.2.89
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.1
urllib3==1.26.17
wcwidth==0.2.8
websocket-client==0.57.0
websockets==10.4
Werkzeug==3.0.0
zenlog==1.1
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
